* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .intro {
    height: 100vh;
    z-index:2;
    opacity:1;
    transition: opacity .5s ease;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit:fill;
  }
  
  .aboutMeContainer {
      margin-top:3300px;
  }
  
  .aboutMeHeaderOld{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    z-index:3;
    font-family:Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  }
  
  $t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: white;
$back: purple;

.popout{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 80px;
	padding: 80px;
    position:relative;
    z-index:3;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width:830px;
    margin-bottom:-70px;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
		100%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}

        
	}
    .spanm {
        margin-left:40px;
    }
	
}

.popoutProjects{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 80px;
	padding: 80px;
    position:relative;
    z-index:3;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width:830px;
    margin-bottom:-70px;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
		100%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}

        
	}
    .spanm {
        margin-left:40px;
    }
	
}

.popoutContact{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 80px;
	padding: 80px;
    position:relative;
    z-index:3;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width:760px;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
		100%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}

        
	}
    .spanm {
        margin-left:40px;
    }
	
}
  
  .aboutMeText {
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: white;
      text-align: center;
      overflow-wrap:break-word;
      z-index:3;
      font-family: sans-serif;
      width:80%;
      line-height:60px;
      margin-bottom:-20px;
      margin-top:20px;
  }

  .resumeButton {
    background-color:white;
    color:black;
    position:relative;
    display:block;
    left: 50%;
    width:270px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border:none;
    z-index:3;
    padding: 20px 20px;
    cursor:pointer;
    letter-spacing: .15rem;
    transition: .2s ease;
    text-decoration: underline;
    text-underline-offset:5px;
    margin-bottom:0;
    margin-top:0;
    font-family: sans-serif;
  }

  .resumeButton:hover {
    box-shadow: 0 0 0 5px purple,
                inset 0 0 0 1px #fff;
  }

  .resumeButton:active {
    background-color:gray;
  }
  
  .projectsContainer {
      margin-top:150px;
  }

  .skillsContainer {
    margin-top:200px;
    margin-bottom:0;
  }

  .contactContainer {
    margin-top:300px;
    margin-bottom:0;
  }

  .popoutSkills{
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 80px;
    padding: 80px;
      position:relative;
      z-index:3;
      margin-left: 50%;
      transform: translate(-50%, -50%);
      width:620px;
      margin-bottom:-70px;
  
    @keyframes ani{
      0%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0 $back;
        color: $front;
      }
      30%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0 $back;
        color: $front;
      }
      70%{
        transform: translate3d(0.08em,-0.08em,0);
        text-shadow: -0.08em 0.08em $back;
        color: $front;
      }
      100%{
        transform: translate3d(0.08em,-0.08em,0);
        text-shadow: -0.08em 0.08em $back;
        color: $front;
      }
    }
    span{
      position: relative;
      display: inline-block;
      animation: ani $t infinite alternate $e;
      @for $i from 1 through $n{
        &:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
      }
  
          
    }
      .spanm {
          margin-left:40px;
      }
    
  }
  
  .scrollIndicator {
      position:absolute;
      z-index:3;
      color:white;
      margin-top:1%;
      margin-left:50%;
      transform: translate(-50%, -50%);
      font-size:20px;
      font-family:Franklin Gothic, Arial Bold; 
  }
  
  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
  
  
  @keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  
  .background-container {
      position: absolute;
      overflow-x:hidden;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
      height:5700px;
    z-index:0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
      
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
  }

  .studentToolsDescription {
    position:absolute;
    color:white;
    right:5%;
    font-size: 40px;
    text-align: center;
    overflow-wrap:break-word;
    z-index:3;
    font-family: sans-serif;
    width:400px;
    line-height:60px;
    margin-top:-650px;
    opacity:0;
    transition: opacity .5s ease;
  }

  .studentToolsImage {
    position:absolute;
    z-index:3;
    width:22%;
    margin-top:-450px;
    margin-left:10%;
    opacity:0;
    transition: opacity .5s ease;
  }

  .werqoutDescription {
    position:absolute;
    color:white;
    right:5%;
    font-size: 40px;
    text-align: center;
    overflow-wrap:break-word;
    z-index:3;
    font-family: sans-serif;
    width:450px;
    line-height:60px;
    margin-top:-650px;
    opacity:0;
    transition: opacity .5s ease;
  }

  .werqoutImage {
    position:absolute;
    z-index:3;
    width:15%;
    margin-top:-450px;
    margin-left:10%;
    opacity:0;
    transition: opacity .5s ease;
  }

  .pokemonDescription {
    position:absolute;
    color:white;
    right:5%;
    font-size: 40px;
    text-align: center;
    overflow-wrap:break-word;
    z-index:3;
    font-family: sans-serif;
    width:450px;
    line-height:60px;
    margin-top:-650px;
    opacity:0;
    transition: opacity .5s ease;
  }

  .pokemonImage {
    position:absolute;
    z-index:3;
    width:35%;
    margin-top:-400px;
    margin-left:2%;
    opacity:0;
    transition: opacity .5s ease;
  }
  
  .projectsButtonTop {
    position:relative;
    display:block;
    left: 50%;
    width:270px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border:none;
    z-index:3;
    font-weight:bold;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top:-100px;
    cursor:pointer;
    color: #fff;
    letter-spacing: .15rem;
    transition: all .3s;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: purple;
      border-radius: 10px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .3s;
      border-radius: 10px;
      z-index: -1;
    }
    &:hover {
      color: #000;
      &:before {
        width: 100%;
      }
    }
  }

  .projectsButtonTop:active {
    &:before {
      background-color: gray;
    }
  }

  .projectsButtonW {
    position:relative;
    display:block;
    width:270px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border:none;
    z-index:3;
    font-weight:bold;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top:20px;
    cursor:pointer;
    color: #fff;
    letter-spacing: .15rem;
    transition: all .3s;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: purple;
      border-radius: 10px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .3s;
      border-radius: 10px;
      z-index: -1;
    }
    &:hover {
      color: #000;
      &:before {
        width: 100%;
      }
    }
  }

  .projectsButtonW:active {
    &:before {
      background-color: gray;
    }
  }

  .projectsButtonP {
    position:relative;
    display:block;
    width:270px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border:none;
    z-index:3;
    font-weight:bold;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top:20px;
    cursor:pointer;
    color: #fff;
    letter-spacing: .15rem;
    transition: all .3s;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: purple;
      border-radius: 10px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .3s;
      border-radius: 10px;
      z-index: -1;
    }
    &:hover {
      color: #000;
      &:before {
        width: 100%;
      }
    }
  }

  .projectsButtonP:active {
    &:before {
      background-color: gray;
    }
  }

  .projectsGitButton {
    position:relative;
    display:block;
    width:270px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border:none;
    z-index:3;
    font-weight:bold;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top:20px;
    cursor:pointer;
    color: #fff;
    letter-spacing: .15rem;
    transition: all .3s;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: orange;
      border-radius: 10px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .3s;
      border-radius: 10px;
      z-index: -1;
    }
    &:hover {
      color: #000;
      &:before {
        width: 100%;
      }
    }
  }

  .projectsGitButton:active {
    &:before {
      background-color: gray;
    }
  }

  .projectsButtonWrap {
    text-align: center;
    margin:0 auto;
  }

  .columns{
    float: left;
    position: relative;
    width:500px;
    z-index:3;
    left: 50%;
    transform: translate(-50%, -50%);
}

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  li {
    color:white;
    font-size:39px;
    margin-left:30px;
    overflow-wrap:break-word;
      font-family: sans-serif;
  }

  .contactListContainer {
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px;
    height:auto;
    position:relative;
    z-index:3;
    margin-top:-100px;
  }

  .contactListItem {
    display:inline-block;
  }

  .gmailImage {
    position:relative;
    display:inline-block;
    z-index:3;
    width:70px;
    transition: .2s ease;
  }

  .linkedinImage {
    position:relative;
    z-index:3;
    width:70px;
    transition: .2s ease;
    margin-top:20px;
  }
  
  .contactText {
    color:white;
    display:inline-block;
    font-size:39px;
    margin-left:30px;
    overflow-wrap:break-word;
      font-family: sans-serif;
      vertical-align: top;
  }

.linkedinButton {
  background-color:#0a66c2;
    color:white;
    position:relative;
    display:inline-block;
    left:160px;
    width:270px;
    top:13px;
    transform: translate(-50%, -50%);
    font-size: 35px;
    border:none;
    border-radius:10px;
    z-index:3;
    padding: 16px 16px;
    cursor:pointer;
    letter-spacing: .15rem;
    transition: .2s ease;
    margin-bottom:0;
    margin-top:0;
    font-family: sans-serif;
    font-weight:bold;
}

.linkedinButton:hover {
  box-shadow: 0 0 0 3px white,
              inset 0 0 0 1px #fff;
}

.linkedinButton:active {
  background-color:#084685;
}

@media (max-width: 1280px) {
  .studentToolsDescription {
    font-size:30px;
    width:330px;
    right:5%;
  }

  .studentToolsImage {
    margin-top:-390px;
  }

  .werqoutDescription {
    font-size:30px;
    width:330px;
    right:5%;
  }

  .werqoutImage {
    margin-top:-420px;
  }

  .pokemonDescription {
    font-size:30px;
    width:330px;
    right:5%;
  }

  .pokemonImage {
    margin-top:-360px;
  }
}

@media (max-width: 1040px) {

  .studentToolsDescription {
    right:0;
    width:270px;
  }

  .studentToolsImage {
    margin-top:-340px;
  }

  .werqoutDescription {
    right:0;
    width:270px;
  }

  .werqoutImage {
    margin-top:-360px;
  }

  .pokemonDescription {
    right:0;
    width:270px;
  }

  .pokemonImage {
    margin-top:-320px;
    width:30%;
  }

  .aboutMeText {
    font-size:30px;
  }

  .resumeButton {
    font-size:25px;
  }
  
}

@media (max-width: 768px) {

    .intro {
      height:0;
    }

    .scrollIndicator {
      font-size:0;
    }

    .aboutMeContainer {
      margin-top:100px;
  }

  .background-container {
    height:3150px;
  }

  .popout{
    font-size: 50px;
    padding: 80px;
      width:590px;
      margin-bottom:-70px;
      .spanm {
          margin-left:40px;
      }
    
  }

  .popoutProjects {
    font-size:50px;
    width:580px;
  }

  .popoutSkills {
    font-size:50px;
    width:450px;
  }

  .popoutContact {
    font-size:50px;
    width:540px;
  }

  .aboutMeText {
    margin-top:40px;
    margin-bottom:-30px;
    line-height: 50px;
  }

  .studentToolsDescription {
    font-size:0;
  }

  .studentToolsImage {
    width:0;
  }

  .werqoutDescription {
    font-size:0;
  }

  .werqoutImage {
    width:0;
  }

  .pokemonDescription {
    font-size:0;
  }

  .pokemonImage {
    width:0;
  }

  .contactListContainer {
    margin-top:-60px;
  }
}

@media (max-width: 615px) {
  .aboutMeText {
    margin-top:100px;
    margin-bottom:-80px;
  }

  .columns li {
    font-size:35px;
  }
  
  .columns {
    width:450px;
  }

  .contactText {
    font-size:32px;
  }

  .contactListContainer {
    width:430px;
  }

  .linkedinButton {
    font-size:32px;
    padding:12px 8px;
    top:10px;
  }

  .gmailImage {
    width:60px;
  }

  .linkedinImage {
    width:60px;
  }
}

@media (max-width:470px) {
  .popout{
    font-size: 34px;
    padding: 80px;
      width:450px;
      margin-bottom:-70px;
      .spanm {
          margin-left:30px;
      }
    
  }

  .popoutProjects {
    font-size:34px;
    width:445px;
  }

  .popoutSkills {
    font-size:34px;
    width:355px;
  }

  .popoutContact {
    font-size:34px;
    width:415px;
  }

  .aboutMeText {
    font-size:22px;
    line-height:45px;
    margin-top:70px;
  }

  .resumeButton {
    font-size:22px;
    padding:15px 5px;
    width:250px;
  }

  .projectsContainer {
    margin-top:100px;
  }

  .projectsButtonTop {
    font-size:25px;
  }

  .projectsButtonW {
    font-size:25px;
  }

  .projectsButtonP {
    font-size:25px;
  }

  .projectsGitButton {
    font-size:25px;
  }

  .columns li {
    font-size:25px;
  }

  .columns {
    width:305px;
  }

  .skillsContainer {
    margin-top:100px;
  }

  .contactText {
    font-size:22px;
    margin-left:15px;
  }

  .linkedinButton {
    font-size:22px;
    left:125px;
    width:230px;
    padding:10px 5px;
  }

  .gmailImage {
    width:40px;
  }

  .linkedinImage {
    width:40px;
  }

  .contactListContainer {
    width:290px;
    margin-top:-80px;
  }

  .contactContainer {
    margin-top:200px;
  }
}