* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.intro video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutMeContainer {
  margin-top: 3350px;
}

.aboutMeHeaderOld {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  z-index: 3;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.popout {
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 80px;
  position: relative;
  z-index: 3;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  margin-bottom: -70px;
}
@-webkit-keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 purple;
    color: white;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 purple;
    color: white;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em purple;
    color: white;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em purple;
    color: white;
  }
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 purple;
    color: white;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 purple;
    color: white;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em purple;
    color: white;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em purple;
    color: white;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
          animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.popout .spanm {
  margin-left: 40px;
}

.aboutMeText {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  text-align: center;
  overflow-wrap: break-word;
  z-index: 3;
  font-family: sans-serif;
  width: 80%;
  line-height: 60px;
}

.projectsContainer {
  margin-top: 200px;
}

.scrollIndicator {
  position: absolute;
  z-index: 3;
  color: white;
  margin-top: 1%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: Franklin Gothic, Arial Bold;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10000px;
  z-index: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.studentToolsDescription {
  position: absolute;
  color: white;
  margin-left: 1000px;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
  z-index: 3;
  font-family: sans-serif;
  width: 400px;
  line-height: 60px;
  margin-top: -650px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.studentToolsImage {
  position: absolute;
  z-index: 3;
  width: 400px;
  margin-top: -450px;
  margin-left: 150px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.werqoutDescription {
  position: absolute;
  color: white;
  margin-left: 970px;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
  z-index: 3;
  font-family: sans-serif;
  width: 450px;
  line-height: 60px;
  margin-top: -650px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.werqoutImage {
  position: absolute;
  z-index: 3;
  width: 250px;
  margin-top: -450px;
  margin-left: 180px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pokemonDescription {
  position: absolute;
  color: white;
  margin-left: 970px;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
  z-index: 3;
  font-family: sans-serif;
  width: 450px;
  line-height: 60px;
  margin-top: -650px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pokemonImage {
  position: absolute;
  z-index: 3;
  width: 500px;
  margin-top: -360px;
  margin-left: 50px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.projectsButtonTop {
  position: relative;
  display: block;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border: none;
  z-index: 3;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: -100px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
}
.projectsButtonTop:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  border-radius: 10px;
  z-index: -2;
}
.projectsButtonTop:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.projectsButtonTop:hover {
  color: #000;
}
.projectsButtonTop:hover:before {
  width: 100%;
}

.projectsButtonTop:active:before {
  background-color: gray;
}

.projectsButtonW {
  position: relative;
  display: block;
  width: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border: none;
  z-index: 3;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
}
.projectsButtonW:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  border-radius: 10px;
  z-index: -2;
}
.projectsButtonW:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.projectsButtonW:hover {
  color: #000;
}
.projectsButtonW:hover:before {
  width: 100%;
}

.projectsButtonW:active:before {
  background-color: gray;
}

.projectsButtonP {
  position: relative;
  display: block;
  width: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border: none;
  z-index: 3;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
}
.projectsButtonP:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  border-radius: 10px;
  z-index: -2;
}
.projectsButtonP:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.projectsButtonP:hover {
  color: #000;
}
.projectsButtonP:hover:before {
  width: 100%;
}

.projectsButtonP:active:before {
  background-color: gray;
}

.projectsGitButton {
  position: relative;
  display: block;
  width: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border: none;
  z-index: 3;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
}
.projectsGitButton:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 10px;
  z-index: -2;
}
.projectsGitButton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.projectsGitButton:hover {
  color: #000;
}
.projectsGitButton:hover:before {
  width: 100%;
}

.projectsGitButton:active:before {
  background-color: gray;
}

.projectsButtonWrap {
  text-align: center;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */